{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }, // 按需降级（保留高版本特性）
                "bugfixes": true,
                "modules": false // 保留 ES 模块语法
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "version": "2023-05" // 装饰器最新提案版本
            }
        ]
    ],
    "only": [
        "**/*.ts",
        "**/*.js"
    ] // 仅处理 TypeScript 和 JavaScript 文件
}