{
    "formatVersion": 2,
    "buildOptions": {
        "useHMR": true,
        "keepServer": false,
        "buildMode": "dev",
        "buildEntry": "main.ts",
        "useJs": false,
        "scriptEntry": "scripts/index.ts",
        "scriptOutput": "scripts/index.js",
        "buildDir": "dev/",
        "dependencies": [
            {
                "module_name": "@minecraft/server",
                "version": "2.6.0"
            },
            {
                "module_name": "@minecraft/server-ui",
                "version": "2.1.0"
            }
        ],
        "resource": {
            "path": "res/",
            "resourceHints": true
        }
    },
    "versionType": "release"
}