{
  "formatVersion": 2,
  "buildOptions": {
    "useHMR": true,
    "buildMode": "development",
    "buildEntry": "main.mjs",
    "scriptEntry": "scripts/index.js",
    "scriptOutput": "scripts/index.js",
    "useJs": true,
    "buildDir": "dev/",
    "dependencies": [
      {
        "module_name": "@minecraft/server",
        "version": "1.8.0"
      }
    ],
    "resource": {
      "path": "res/",
      "resourceHints": true
    }
  },
  "versionType": "release"
}