{
    "formatVersion": 2,
    "buildOptions": {
        "useHMR": true,                       // 热更新
        "buildMode": "development",           // 开发模式 'development' | 'production', production模式下会压缩代码
        "buildEntry": "main/index.ts",        // Addon构建入口文件
        "useJs": false,                       // 是否使用js文件
        "scriptEntry": "scripts/index.ts",    // ScriptApi脚本入口文件
        "scriptOutput": "scripts/index.js",   // ScriptApi脚本输出文件 (在 buildDir 目录下)
        "buildDir": "dev/",                   // 构建输出目录    
        "dependencies": [
            {
                "module_name": "@minecraft/server",
                "version": "1.17.0-beta"
            }
        ],
        "resource": {
            "path": "res/",                   // 资源文件目录
            "resourceHints": true             // 是否生成资源提示文件
        }
    },
    "versionType": "release"                  // mc游戏版本, 会影响开发文件路径
}