{
    "beh":
    [
        {
            "className":"Item",
            "path":"items/"
        },
        {
            "className":"Food",
            "path":"items/"
        },
        
    ],
    "res":
    [
        {
            "className":"Attachable",
            "path":"items/"
        },
    ]
}