{
  "defaultConfig": {
    "buildMode":"development",
    "buildEntry": "main.mjs",
    "scriptEntry": "scripts/index.js",
    "buildDir": "dev/",
    "dependencies": [
      {
      "module_name": "@minecraft/server-ui",
      "version": "1.3.0"
      },
      {
        "module_name": "@minecraft/server",
        "version": "1.17.0"
      }
    ]
  },
  "libraries": [
    {
      "path": "lib/"
    }
  ],
  "resources": [
    {
      "path": "res/"
    }
  ],
  "scripts": [
    {
      "path": "scripts/"
    }
  ]
}